body {
	height: 100%;
}

.jumbotron {
	background-image: url('img/mundo_4524');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
	border: 5px solid red;
	position: absolute;
	height: 50%;
}

.container {
	border: 5px solid black;
}
